<div class="doc-list">
  <div class="doc-list-title">
    <span style="margin-left: 45px">序号</span>
    <span style="margin-left: 200px">描述</span>
  </div>
  <div class="doc-list-body">
    <div *ngFor="let doc of doclist">
      <app-searched-doc-list-item [doc]="doc"></app-searched-doc-list-item>
    <!--<div class="doc-item-container-1 doc-item-container clickable"  onclick="clickItem()">-->
      <!--<div class="doc-item" onclick="clickItem()">-->
        <!--<span style="margin-left: 45px">P1.1</span>-->
        <!--<span style="margin-left: 205px">DMS系统中的保修单创建</span>-->
        <!--<img class="right-arrow" src="imgs/search_result_right_arrow.png">-->
      <!--</div>-->
      <!--<div class="doc-item-desc">在EVA中上传保修单遇到红灯，请直接将第一次发送的邮件再次发送至保修公共邮箱，BMBS保修组核实报备信息后将在系统中修改参数允许释放。</div>-->
    <!--</div>-->
    <!--<div class="doc-item-container-2 doc-item-container clickable"   onclick="clickItem()">-->
      <!--<div class="doc-item" onclick="clickItem()">-->
        <!--<span style="margin-left: 45px">P1.1</span>-->
        <!--<span style="margin-left: 205px">DMS系统中的保修单创建</span>-->
        <!--<img class="right-arrow" src="imgs/search_result_right_arrow.png">-->
      <!--</div>-->
      <!--<div class="doc-item-desc">在EVA中上传保修单遇到红灯，请直接将第一次发送的邮件再次发送至保修公共邮箱，BMBS保修组核实报备信息后将在系统中修改参数允许释放。</div>-->
    <!--</div>-->
    <!--<div class="doc-item-container-1 doc-item-container clickable" onclick="clickItem()">-->
      <!--<div class="doc-item" onclick="clickItem()">-->
        <!--<span style="margin-left: 45px">P1.1</span>-->
        <!--<span style="margin-left: 205px">DMS系统中的保修单创建</span>-->
        <!--<img class="right-arrow" src="imgs/search_result_right_arrow.png">-->
      <!--</div>-->
      <!--<div class="doc-item-desc">在EVA中上传保修单遇到红灯，请直接将第一次发送的邮件再次发送至保修公共邮箱，BMBS保修组核实报备信息后将在系统中修改参数允许释放。</div>-->
    <!--</div>-->
    </div>
  </div>
</div>

<!--<script language="JavaScript">-->
  <!--function clickItem(){-->
    <!--window.open("./G2.1.pdf");-->
  <!--}-->

  <!--document.oncontextmenu =new Function("return false;")-->
<!--</script>-->

<!--&lt;!&ndash;左边导航栏&ndash;&gt;-->
<!--<script>-->
  <!--function selectChapter(div,index){-->
<!--//        var items = document.getElementsByClassName("catalog-item");-->
<!--//        for(var i = items.length - 1; i >= 0; i&#45;&#45;) {-->
<!--//            items[i].className = 'catalog-item';-->
<!--//        }-->
<!--//        div.className = 'catalog-item catalog-item-selected';-->
    <!--window.location.href = 'second.html'-->
  <!--}-->

<!--</script>-->

<!--&lt;!&ndash;上方导航栏&ndash;&gt;-->
<!--<script>-->
  <!--function returnToMainPage(){-->
    <!--window.location.href="main.html";-->
  <!--}-->
<!--</script>-->
