
.input-container{
  background-image: url(../../assets/search_bar2.png);
  position: absolute;
  left: 700px;
  top: 21px;
  height: 28px;
  width: 300px;
}

.searchbar {
  padding-left: 15px;
  width: 250px;
  line-height: 28px;
  background: transparent;
  border: none;
  font-size: 16px;
}
.searchbar:focus{
  outline: none;
}
